<div id="header">
    <div class="header" >
        <div class="vertical">
            <div class="inner">
                <h1 class="header-title"></h1>
                <h2 class="header-description" id="hitokoto"></h2>
                <h3 class="header-info" id="hitokotoAuthor"></h3>
                <!--
                <h1 class="header-subtitle"></h1>
                <p class="header-subinfo"></p>
                -->
            </div>
        </div>
        <a class="scroll-down" href="javascript:;" target="_self" data-offset="-45">
            <span class="hidden">Scroll Down</span>
            <i class="scroll-down-icon iconfont icon-return"></i>
        </a>
    </div>
</div>