<div id="container">
    <div id="content">
        <div id="article">
            <div class="article-body">
                <%- page.content %>
                <%- partial('_partial/donate') %>
            </div>        
        </div>
    </div>
</div>