<div class="categories">
    <div class="categories-title">
        <%= _p('category', site.categories.count()) %>
    </div>
    <div class="categories-content">
        <%- list_categories() %>
    </div>
</div>