<% if (post.comments) { %>
    <div class="article-comments">
        <div class="comments-title">
            <%= __('comment.title') %>
        </div>
        <div class="comments-content">
        </div>
    </div>
<% } %>