<% if (post.comments) { %>
    <div class="article-comments">
        <% if (is_post()) { %>
            <div class="comments-title">
                <%- __('comment.title') %>
            </div>
        <% } %>
        <div class="comments-content"></div>
    </div>
<% } %>