<link type="text/css" rel="stylesheet" href="<%= theme.Style.donate %>">
<div class="donate">
    <i id="Github"></i>
    <div id="DonateText"><%= __('donate.text') %></div>
    <ul id="DonateBox" class="list">
        <li id="PayPal"></li>
        <li id="AliPay">AliPay</li>
		<li id="WeChat">WeChat</li>
		<li id="Bitcoin">Bitcoin</li>
    </ul>
    <div id="QRBox">
        <div id="MainBox"></div>
    </div>
</div>