<link type="text/css" rel="stylesheet" href="<%- theme.Style.search %>">
<script type="text/javascript" src="<%- theme.Script.iscroll %>"></script>
<script type="text/javascript" src="<%- theme.Script.instantSearch %>"></script>
<div class="search-window">
    <div class="search-content">
        <div class="search-content-icon">
            <i class="iconfont icon-search"></i>
        </div>
        <div id="search-input" class="search-input"></div>
    </div>

    <div class="search-scroll">
        <div class="search-result">
            <div id="search-stats" class="search-stats"></div>
            <div id="search-hits"></div>
            <div id="search-pagination" class="search-pagination"></div>
        </div>
    </div>

    <span class="search-close-icon">
        <i class="iconfont icon-close"></i>
    </span>
</div>