<div id="sidebar">
    <div class="menu-wrap" style="display:none;">
        <nav class="menu">
            <div class="menu-introduce"> 
                <div class="introduce-avatar"></div> 
                <div class="introduce-info"> 
                    <div class="introduce-user"><span></span></div>        
                </div> 
            </div> 
            <div class="menu-list">
                <ul></ul> 
            </div> 
            <div class="menu-link"></div> 
        </nav>
        <button class="menu-button-close"></button>
        <div class="morph-shape" id="morph-shape" data-morph-open="M-7.312,0H15c0,0,66,113.339,66,399.5C81,664.006,15,800,15,800H-7.312V0z;M-7.312,0H100c0,0,0,113.839,0,400c0,264.506,0,400,0,400H-7.312V0z">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
                <path d="M-7.312,0H0c0,0,0,113.839,0,400c0,264.506,0,400,0,400h-7.312V0z"/>
            </svg>
        </div>
    </div>
    <button class="menu-button-open">MENU</button>
    <div class="menu-cover"></div>
</div>