<div class="wrap-right">
    <div class="wrap-right-hide">
         <div class="wrap-right-button favorites">
            <div class="iconbox" switch="false">
                <span class="iconfont icon-favorites"></span>
            </div>
            <span class="icontext">关注</span>
         </div>
        <div class="wrap-right-button search">
            <div class="iconbox">
                <span class="iconfont icon-search-menu"></span>
            </div>
            <span class="icontext">搜索</span>
        </div>
        <div class="wrap-right-button menu-button">
            <div class="iconbox">
                <span class="iconfont icon-menu"></span>
            </div>
            <span class="icontext">菜单</span>
        </div>
        <div class="wrap-right-button mode">
            <div class="light">
                <div class="iconbox">
                    <span class="iconfont icon-daymode"></span>
                </div>
                <span class="icontext">浅色模式</span>
            </div>
            <div class="dark">
                <div class="iconbox">
                    <span class="iconfont icon-nightmode-fill"></span>
                </div>
                <span class="icontext">深色模式</span>
            </div>
        </div>
        <div class="wrap-right-button bottom">
            <div class="iconbox">
                <span class="iconfont icon-top"></span>
            </div>
            <span class="icontext">跳至底部</span>
        </div>
    </div>
    <div class="wrap-right-show">
        <div class="wrap-right-button set">
            <div class="iconbox">
                <span class="iconfont icon-setting"></span>
            </div>
            <span class="icontext">设置</span>
        </div>
        <div class="wrap-right-button top">
            <div class="iconbox">
                <span class="iconfont icon-top"></span>
            </div>
            <span class="icontext">返回顶部</span>
        </div>
    </div>
</div>