<body>
    <div style="margin: 50px auto;width: 666px;max-width: 100%;border: 1px solid #EEE;border-radius: 10px 10px 10px 10px;background: #FFFFFF repeating-linear-gradient(-45deg, #FFF, #FFF 1.125rem, transparent 1.125rem, transparent 2.25rem);box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);color: #555555;font-size: 14px;font-family: 'Century Gothic', 'Trebuchet MS', 'Hiragino Sans GB', 微软雅黑, 'Microsoft Yahei', Tahoma, Helvetica, Arial, 'SimSun', sans-serif;">
        <div style="width: 100%;background: #49BDAD;background-image: -moz-linear-gradient(0deg, rgb(67, 198, 184), rgb(255, 209, 244));background-image: -webkit-linear-gradient(0deg, rgb(67, 198, 184), rgb(255, 209, 244));border-radius: 10px 10px 0 0;color: #FFFFFF;">
            <p style="margin: 0;padding: 23px calc(5%);background-color: hsla(0, 0%, 100%, .4);border-radius: 10px 10px 0 0;font-size: 15px;word-break: break-all;">您在 <a style="color: #FFFFFF;text-decoration: none;" href="{{site.url}}" target="_blank">{{site.name}}</a> 上的留言有新的回复啦！</p>
        </div>
        <div style="margin: 40px auto;width: 90%;">
            <p>Hi, {{parent.nick}}，您曾在文章上发表评论：</p>
            <div style="margin: 20px 0px;padding: 15px;background: #FAFAFA repeating-linear-gradient(-45deg, #FFF, #FFF 1.125rem, transparent 1.125rem, transparent 2.25rem);box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);border-radius: 5px;color: #555555;font-size: 14px;">{{parent.comment | safe}}</div>
            <p>
                <strong>{{self.nick}} </strong>给您的回复如下：
            </p>
            <div style="margin: 20px 0px;padding: 15px;background: #FAFAFA repeating-linear-gradient(-45deg, #FFF, #FFF 1.125rem, transparent 1.125rem, transparent 2.25rem);box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);border-radius: 5px;color: #555555;font-size: 14px;">{{self.comment | safe}}</div>
            <p>您可以点击<a style="color: #12ADDB;text-decoration: none;" href="{{site.postUrl}}" target="_blank">查看回复的完整內容</a>。</p>
            <div style="border-bottom: 1px solid #EEEEEE;"></div>
            <p style="font-size: 12px;color: #B7ADAD;">本邮件为系统自动发送，请勿直接回复邮件。</p>
        </div>
    </div>
</body>