<div id="container">
    <div id="content">
        <div id="article">
            <div class="article-body">
                <%- page.content %>
            </div>
        </div>
    </div>
</div>